# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env/
.venv/
venv/

# App env
.env
.env.*
!.env.example

# Runtime data
/data/
/logs/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
/build/
/dist/
